<p id="notice"><%= notice %></p>

<center>
    <%= form_tag cards_path, method: 'get' do %>
        <p>
            <%= text_field_tag :keyword, @key %>
            <%= submit_tag "検索"%>
        </p>
    <% end %>
</center>

<table border align="center" style="table-layout:fixed;">
    <caption>
        <font size="5"><strong>所持カード一覧</strong></font>
        <font size="3"><strong>所持枚数 <%= @cards.size %> 枚</strong></font>
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-register">新規登録</button>
    </caption>
    <thead>
        <tr>
            <th width="35%">カード番号</th>
            <th width="35%">カード名</th>
            <th width="20%">コメント</th>
            <th width="5%">編集</th>
            <th width="5%">削除</th>
        </tr>
    </thead>
    <tbody>
        <% @cards.each do |card| %>
            <tr>
                <td><%= card.card_id %></td>
                <td><%= card.name %></td>
                <td><%= card.note %></td>
                <td><%= link_to '編集', edit_card_path(card), class: "btn btn-default" %></td>
                <td><%= link_to '削除', card, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<!-- モーダルの配置 -->
<div class="modal fade" id="modal-register" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <%= form_for @card do |f| %>
            <!-- モーダルのコンテンツ -->
            <div class="modal-content">
                <!-- モーダルのヘッダ -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-label">新規カード登録</h4>
                </div>
                <!-- モーダルのボディ -->
                <div class="modal-body">
                    <%= f.label "カード番号*" %>
                    <%= f.text_field :card_id %>
                    <%= f.label "カード名" %>
                    <%= f.text_field :name %>
                    <%= f.label "コメント" %>
                    <%= f.text_field :note %>
                </div>
                <!-- モーダルのフッタ -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    <%= f.submit "新規追加", class: "btn btn-primary"%>
                </div>
            </div>
        <% end %>
    </div>
</div>
