<p id="notice"><%= notice %></p>

<center>
    <%= form_tag cards_path, method: 'get' do %>
        <p>
            <%= text_field_tag :name %>
            <%= submit_tag "検索"%>
        </p>
    <% end %>
</center>

<table border align="center">
    <caption>
        <font size="5"><strong>所持カード一覧</strong></font>
        <font size="3"><strong>所持枚数 <%= @cards.size %> 枚</strong></font>
        <%#= link_to '新規追加', new_card_path, class: "btn btn-primary pull-right" %>
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-register">新規登録</button>
    </caption>
    <tr>
        <th width="40%">カード番号</th>
        <th width="40%">カード名</th>
        <th width="10%">編集</th>
        <th width="10%">削除</th>
    </tr>
    <% @cards.each do |card| %>
        <tr>
            <td><%= card.card_id %></td>
            <td><%= card.name %></td>
            <td><%= link_to '編集', edit_card_path(card), class: "btn btn-default" %></td>
            <td><%= link_to '削除', card, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </tr>
    <% end %>
</table>

<!-- モーダルの配置 -->
<div class="modal fade" id="modal-register" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <%= form_tag cards_path, method: 'post' do %>
            <!-- モーダルのコンテンツ -->
            <div class="modal-content">
                <!-- モーダルのヘッダ -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-label">新規追加</h4>
                </div>
                <!-- モーダルのボディ -->
                <div class="modal-body">
                    <label>カード番号</label>
                    <%= text_field_tag :card_id %>
                    <label>カード名</label>
                    <%= text_field_tag :name %>
                </div>
                <!-- モーダルのフッタ -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    <%= submit_tag "新規追加", class: "btn btn-primary"%>
                </div>
            </div>
        <% end %>
    </div>
</div>
