<!DOCTYPE html>
<html>
  <head>
    <title>カード管理アプリ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><%= link_to '所持カード一覧', '/cards' %></li>
            </ul>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
